---
layout: archive
title: "Research Projects"
permalink: /research/
author_profile: true
---
<!-- 使用talks代替researches -->

My research interest mainly focused on data mining and AI, especially graph analysis algorithms. In my previous experience, I have conducted research on diffusion network reconstruction and related algorithms. Recently, I am also interested in applying machine learning and embedding techniques into graph mining to solve traditional issues. 

Brief introductions of three of my research projects are listed below. For more information, you can view the detailed PDF version through link in detailed pages or check my resume through link in the navigation bar. If you are intreseted, do not hesitate to reach me out through email :-)


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
