---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
<!-- 使用talks代替researches -->

<p>My current research mainly focuses on data profiling, graph analysis algorithms, diffusion networks, data mining and
  database. Currently, I am applying data profiling techniques into traditional database and help those algorithms.</p>


<!-- <p>my previous
  experience, I have conducted research on diffusion network reconstruction and related algorithms. Recently, I am also
  interested in applying machine learning and embedding techniques into graph mining to solve traditional issues. I am
  now working with Prof. Xiaokui Xiao at National University of Singapore on graph algorithms.</p>
 -->

<p>Brief introductions on some of my past research projects are listed below.</p>


{% for post in site.talks reversed %}
{% include archive-single-talk.html %}
{% endfor %}